<a href="https://colab.research.google.com/github/VGGatGitHub/Summer2021/blob/main/D-Wave_experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook experimenting how to use DOcplex and IBM Quantum.

# 0. Install libraries & clone repo

In [ ]:
import sys

if hasattr(sys, 'real_prefix'):
    #we are in a virtual env.
    !pip install cplex && pip install docplex
else:
    !pip install --user cplex && pip install --user docplex

print()
!pip show cplex
print()
!pip show docplex

#it my be useful to retstart you runtime

In [ ]:
!pip install qiskit
!pip show qiskit

# !pip install qiskit-optimization
#!pip show qiskit-optimization

#it my be useful to retstart you runtime

**Possibly need to restart runtime here.**

In [ ]:
#it my be useful to retstart you runtime

# clone repo
#!git clone https://github.com/VGGatGitHub/Summer2021.git

# 1. Load Data

In [38]:
!pwd

/workspace/Summer2021/intermediateScenario

In [63]:
#next run the model.py in the folder introScenario
!pwd
%cd ../intermediateScenario/
#./Summer2021/intermediateScenario
#./Summer2021/introScenario/
#%ls

/workspace/Summer2021/introScenario
/workspace/Summer2021/intermediateScenario

In [65]:
import pandas as pd

# supply + costs
supply_file = './plants.csv'

# demand
demand_file = './customerDemand.csv'

# for now load example data (plants.csv and customerDemand.csv under introScenario folder)
s_df = pd.read_csv(supply_file)
d_df = pd.read_csv(demand_file)

In [67]:
d_df

          Product  Demand
0     airFreshner      81
1         avocado      75
2       batteries      16
3      cannedSoup      78
4      cannedTuna      29
5        chargers      50
6          coffee      64
7           flour      56
8          gloves      41
9             gum      64
10  handSanitizer     223
11       handSoap      93
12        jackets      45
13          jeans      34
14           lamb      39
15           mask     191
16           pens      57
17         salmon      44
18          socks      49
19    sportsDrink      14
20   sprayCleaner     155
21      sunscreen      88
22    toiletPaper     121
23       trailMix      35
24      vegBurger      76
25       vitaminC       9
26          water      72
27           wine      41
28          wipes       4

In [68]:
s_df

    Id         Plants  Cost  Capacity        Product  Profit
0    1    Los Angeles     3        40    airFreshner       3
1    2    Mexico City     2        30        avocado       4
2    3        Toronto     1        30      batteries       2
3    4        Chicago     3       100     cannedSoup       5
4    5         London     2        60     cannedTuna       6
..  ..            ...   ...       ...            ...     ...
85  86    Mexico City     2        30           wine       2
86  87        Toronto     1        30          wipes       3
87  88        Chicago     3       100           mask       1
88  89         London     2        60  handSanitizer       3
89  90  Los Angeles 4     1        45       handSoap       4

[90 rows x 6 columns]

In [69]:
inputs={'customerDemand':d_df,'plants':s_df}

# 2. Solve the DO problem via DOcplex

In [70]:
#If you get an error you may have to restart the runtime
import cplex
import docplex.mp
from docplex.mp.model import Model

In [71]:
global output_lock
#with output_lock:

try:  
  if output_lock:
    print(output_lock)
except:
  output_lock=dict({'output_lock':{}})

try: 
  if outputs:
    print(outputs)
except:
  outputs=dict()

{'output_lock': {}}
{'plantsAllocation':    plants  plants allocation decision  plants selection decision  \
0       1                         0.0                        1.0
1       2                        15.0                        1.0
2       3                        30.0                        1.0
3       4                        70.0                        1.0
4       5                        60.0                        1.0
5       6                        45.0                        1.0

   plants Capacity plants Product  plants Cost  \
0               40           mask            3
1               30           mask            2
2               30  handSanitizer            1
3              100  handSanitizer            3
4               60           mask            2
5               45           mask            1

   plants minValueAllocationForAssignment
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
5                                       0  }

In [72]:
exec(open("./model.py").read())

* building wado model
model building done in 0.12578916549682617 secs
* running wado model
Version identifier: 20.1.0.0 | 2020-11-11 | 9bedb6d68
CPXPARAM_Read_DataCheck                          1
CPXPARAM_TimeLimit                               120
Found incumbent of value 0.000000 after 0.00 sec. (0.01 ticks)
Tried aggregator 2 times.
MIP Presolve eliminated 297 rows and 178 columns.
Aggregator did 2 substitutions.
All rows and columns eliminated.
Presolve time = 0.01 sec. (0.20 ticks)

Root node processing (before b&c):
  Real time             =    0.01 sec. (0.22 ticks)
Parallel b&c, 16 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =    0.01 sec. (0.22 ticks)
Solve status: JobSolveStatus.OPTIMAL_SOLUTION
* model docplex_model3 solved with objective = -1403296.000
*  KPI: total plants allocations                    = 967168.000
*  KPI: total Cost of plants over all allocations   = 65248.000
*  KPI: total Profit of plants over all allocations = 501376.000
model solve done in 0.032675981521606445 secs
solution export done in 0.015956640243530273 secs

In [73]:
outputs

{'plantsAllocation':     plants  plants allocation decision  plants selection decision  \
 0        1                         0.0                        1.0
 1        2                        30.0                        1.0
 2        3                         0.0                        1.0
 3        4                        78.0                        1.0
 4        5                        29.0                        1.0
 ..     ...                         ...                        ...
 85      86                         0.0                        1.0
 86      87                         0.0                        1.0
 87      88                        31.0                        1.0
 88      89                        60.0                        1.0
 89      90                         0.0                        1.0

     plants Capacity  plants Profit plants Product  plants Plants  plants Cost  \
 0                40              3    airFreshner    Los Angeles            3
 1                30              4        avocado    Mexico City            2
 2                30              2      batteries        Toronto            1
 3               100              5     cannedSoup        Chicago            3
 4                60              6     cannedTuna         London            2
 ..              ...            ...            ...            ...          ...
 85               30              2           wine    Mexico City            2
 86               30              3          wipes        Toronto            1
 87              100              1           mask        Chicago            3
 88               60              3  handSanitizer         London            2
 89               45              4       handSoap  Los Angeles 4            1

     plants minValueAllocationForAssignment
 0                                        0
 1                                        0
 2                                        0
 3                                        0
 4                                        0
 ..                                     ...
 85                                       0
 86                                       0
 87                                       0
 88                                       0
 89                                       0

 [90 rows x 9 columns]}

In [74]:
outputs['plantsAllocation']

,plants,plants allocation decision,plants selection decision,plants Capacity,plants Profit,plants Product,plants Plants,plants Cost,plants minValueAllocationForAssignment
0,1,0.0,1.0,40,3,airFreshner,Los Angeles,3,0
1,2,30.0,1.0,30,4,avocado,Mexico City,2,0
2,3,0.0,1.0,30,2,batteries,Toronto,1,0
3,4,78.0,1.0,100,5,cannedSoup,Chicago,3,0
4,5,29.0,1.0,60,6,cannedTuna,London,2,0
...,...,...,...,...,...,...,...,...,...
85,86,0.0,1.0,30,2,wine,Mexico City,2,0
86,87,0.0,1.0,30,3,wipes,Toronto,1,0
87,88,31.0,1.0,100,1,mask,Chicago,3,0
88,89,60.0,1.0,60,3,handSanitizer,London,2,0
89,90,0.0,1.0,45,4,handSoap,Los Angeles 4,1,0

In [75]:
model

docplex.mp.Model['docplex_model3']

In [76]:
solution=model.solve()
print(solution)
solution

solution for: docplex_model3
objective: -1.4033e+06
x2=30
x4=78
x5=29
x6=45
x7=4
x10=4
x11=60
x13=40
x15=9
x16=100
x17=57
x18=44
x21=30
x22=28
x26=9
x27=30
x28=11
x30=45
x31=40
x32=16
x37=11
x38=30
x39=30
x40=73
x43=34
x44=30
x45=30
x50=30
x51=30
x52=100
x54=16
x56=30
x57=30
x58=4
x59=36
x60=5
x64=5
x65=60
x66=45
x67=11
x68=30
x69=30
x70=93
x71=5
x74=30
x77=49
x78=14
x79=40
x80=30
x81=21
x82=35
x83=60
x85=12
x88=31
x89=60
x91=1
x92=1
x93=1
x94=1
x95=1
x96=1
x97=1
x98=1
x99=1
x100=1
x101=1
x102=1
x103=1
x104=1
x105=1
x106=1
x107=1
x108=1
x109=1
x110=1
x111=1
x112=1
x113=1
x114=1
x115=1
x116=1
x117=1
x118=1
x119=1
x120=1
x121=1
x122=1
x123=1
x124=1
x125=1
x126=1
x127=1
x128=1
x129=1
x130=1
x131=1
x132=1
x133=1
x134=1
x135=1
x136=1
x137=1
x138=1
x139=1
x140=1
x141=1
x142=1
x143=1
x144=1
x145=1
x146=1
x147=1
x148=1
x149=1
x150=1
x151=1
x152=1
x153=1
x154=1
x155=1
x156=1
x157=1
x158=1
x159=1
x160=1
x161=1
x162=1
x163=1
x164=1
x165=1
x166=1
x167=1
x168=1
x169=1
x170=1
x171=1
x172=1
x173=1
x174=1
x175=1
x176=1
x177=1
x178=1
x179=1
x180=1

docplex.mp.solution.SolveSolution(obj=-1.4033e+06,values={x2:30,x4:78,x5..

In [77]:
cost = solution.get_objective_value()
x = solution.get_all_values()
x = np.array(x)
print(cost,x)

-1403296.0 [  0.  30.   0.  78.  29.  45.   4.   0.   0.   4.  60.   0.  40.   0.
   9. 100.  57.  44.   0.   0.  30.  28.   0.   0.   0.   9.  30.  11.
   0.  45.  40.  16.   0.   0.   0.   0.  11.  30.  30.  73.   0.   0.
  34.  30.  30.   0.   0.   0.   0.  30.  30. 100.   0.  16.   0.  30.
  30.   4.  36.   5.   0.   0.   0.   5.  60.  45.  11.  30.  30.  93.
   5.   0.   0.  30.   0.   0.  49.  14.  40.  30.  21.  35.  60.   0.
  12.   0.   0.  31.  60.   0.   1.   1.   1.   1.   1.   1.   1.   1.
   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.
   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.   1.]

# 3. Solve the problem using D-wave

In [78]:
# take a look at https://quantum-computing.ibm.com/lab/docs/iql/optimization

#from qiskit_optimization import QuadraticProgram
#from qiskit_optimization.translators import from_docplex_mp

from qiskit.optimization import QuadraticProgram

# load from a Docplex model
mod = QuadraticProgram()
mod.from_docplex(model)
print(mod.export_as_lp_string())

\ This file has been generated by DOcplex
\ ENCODING=ISO-8859-1
\Problem name: docplex_model3

Minimize
 obj: - 656 x0 - 736 x1 - 624 x2 - 784 x3 - 864 x4 - 752 x5 - 656 x6 - 608 x7
      - 688 x8 - 528 x9 - 672 x10 - 752 x11 - 784 x12 - 672 x13 - 752 x14
      - 592 x15 - 800 x16 - 880 x17 - 720 x18 - 672 x19 - 624 x20 - 656 x21
      - 544 x22 - 688 x23 - 720 x24 - 800 x25 - 688 x26 - 720 x27 - 608 x28
      - 816 x29 - 848 x30 - 736 x31 - 688 x32 - 592 x33 - 672 x34 - 560 x35
      - 656 x36 - 736 x37 - 816 x38 - 656 x39 - 736 x40 - 624 x41 - 784 x42
      - 864 x43 - 752 x44 - 656 x45 - 608 x46 - 688 x47 - 528 x48 - 672 x49
      - 752 x50 - 784 x51 - 672 x52 - 752 x53 - 592 x54 - 800 x55 - 880 x56
      - 720 x57 - 672 x58 - 624 x59 - 656 x60 - 544 x61 - 688 x62 - 720 x63
      - 800 x64 - 688 x65 - 720 x66 - 608 x67 - 816 x68 - 848 x69 - 736 x70
      - 688 x71 - 592 x72 - 672 x73 - 560 x74 - 656 x75 - 736 x76 - 816 x77
      - 656 x78 - 736 x79 - 624 x80 - 784 x81 - 864 x82 - 752 x83 - 656 x84
      - 608 x85 - 688 x86 - 528 x87 - 672 x88 - 752 x89
Subject To
 _L_EXPR_1: x0 - 40 x90 <= 0
 _L_EXPR_2: x1 - 30 x91 <= 0
 _L_EXPR_3: x2 - 30 x92 <= 0
 _L_EXPR_4: x3 - 100 x93 <= 0
 _L_EXPR_5: x4 - 60 x94 <= 0
 _L_EXPR_6: x5 - 45 x95 <= 0
 _L_EXPR_7: x6 - 40 x96 <= 0
 _L_EXPR_8: x7 - 30 x97 <= 0
 _L_EXPR_9: x8 - 30 x98 <= 0
 _L_EXPR_10: x9 - 100 x99 <= 0
 _L_EXPR_11: x10 - 60 x100 <= 0
 _L_EXPR_12: x11 - 45 x101 <= 0
 _L_EXPR_13: x12 - 40 x102 <= 0
 _L_EXPR_14: x13 - 30 x103 <= 0
 _L_EXPR_15: x14 - 30 x104 <= 0
 _L_EXPR_16: x15 - 100 x105 <= 0
 _L_EXPR_17: x16 - 60 x106 <= 0
 _L_EXPR_18: x17 - 45 x107 <= 0
 _L_EXPR_19: x18 - 40 x108 <= 0
 _L_EXPR_20: x19 - 30 x109 <= 0
 _L_EXPR_21: x20 - 30 x110 <= 0
 _L_EXPR_22: x21 - 100 x111 <= 0
 _L_EXPR_23: x22 - 60 x112 <= 0
 _L_EXPR_24: x23 - 45 x113 <= 0
 _L_EXPR_25: x24 - 40 x114 <= 0
 _L_EXPR_26: x25 - 30 x115 <= 0
 _L_EXPR_27: x26 - 30 x116 <= 0
 _L_EXPR_28: x27 - 100 x117 <= 0
 _L_EXPR_29: x28 - 60 x118 <= 0
 _L_EXPR_30: x29 - 45 x119 <= 0
 _L_EXPR_31: x30 - 40 x120 <= 0
 _L_EXPR_32: x31 - 30 x121 <= 0
 _L_EXPR_33: x32 - 30 x122 <= 0
 _L_EXPR_34: x33 - 100 x123 <= 0
 _L_EXPR_35: x34 - 60 x124 <= 0
 _L_EXPR_36: x35 - 45 x125 <= 0
 _L_EXPR_37: x36 - 40 x126 <= 0
 _L_EXPR_38: x37 - 30 x127 <= 0
 _L_EXPR_39: x38 - 30 x128 <= 0
 _L_EXPR_40: x39 - 100 x129 <= 0
 _L_EXPR_41: x40 - 60 x130 <= 0
 _L_EXPR_42: x41 - 45 x131 <= 0
 _L_EXPR_43: x42 - 40 x132 <= 0
 _L_EXPR_44: x43 - 30 x133 <= 0
 _L_EXPR_45: x44 - 30 x134 <= 0
 _L_EXPR_46: x45 - 100 x135 <= 0
 _L_EXPR_47: x46 - 60 x136 <= 0
 _L_EXPR_48: x47 - 45 x137 <= 0
 _L_EXPR_49: x48 - 40 x138 <= 0
 _L_EXPR_50: x49 - 30 x139 <= 0
 _L_EXPR_51: x50 - 30 x140 <= 0
 _L_EXPR_52: x51 - 100 x141 <= 0
 _L_EXPR_53: x52 - 60 x142 <= 0
 _L_EXPR_54: x53 - 45 x143 <= 0
 _L_EXPR_55: x54 - 40 x144 <= 0
 _L_EXPR_56: x55 - 30 x145 <= 0
 _L_EXPR_57: x56 - 30 x146 <= 0
 _L_EXPR_58: x57 - 100 x147 <= 0
 _L_EXPR_59: x58 - 60 x148 <= 0
 _L_EXPR_60: x59 - 45 x149 <= 0
 _L_EXPR_61: x60 - 40 x150 <= 0
 _L_EXPR_62: x61 - 30 x151 <= 0
 _L_EXPR_63: x62 - 30 x152 <= 0
 _L_EXPR_64: x63 - 100 x153 <= 0
 _L_EXPR_65: x64 - 60 x154 <= 0
 _L_EXPR_66: x65 - 45 x155 <= 0
 _L_EXPR_67: x66 - 40 x156 <= 0
 _L_EXPR_68: x67 - 30 x157 <= 0
 _L_EXPR_69: x68 - 30 x158 <= 0
 _L_EXPR_70: x69 - 100 x159 <= 0
 _L_EXPR_71: x70 - 60 x160 <= 0
 _L_EXPR_72: x71 - 45 x161 <= 0
 _L_EXPR_73: x72 - 40 x162 <= 0
 _L_EXPR_74: x73 - 30 x163 <= 0
 _L_EXPR_75: x74 - 30 x164 <= 0
 _L_EXPR_76: x75 - 100 x165 <= 0
 _L_EXPR_77: x76 - 60 x166 <= 0
 _L_EXPR_78: x77 - 45 x167 <= 0
 _L_EXPR_79: x78 - 40 x168 <= 0
 _L_EXPR_80: x79 - 30 x169 <= 0
 _L_EXPR_81: x80 - 30 x170 <= 0
 _L_EXPR_82: x81 - 100 x171 <= 0
 _L_EXPR_83: x82 - 60 x172 <= 0
 _L_EXPR_84: x83 - 45 x173 <= 0
 _L_EXPR_85: x84 - 40 x174 <= 0
 _L_EXPR_86: x85 - 30 x175 <= 0
 _L_EXPR_87: x86 - 30 x176 <= 0
 _L_EXPR_88: x87 - 100 x177 <= 0
 _L_EXPR_89: x88 - 60 x178 <= 0
 _L_EXPR_90: x89 - 45 x179 <= 0
 _L_EXPR_91: x0 >= 0
 _L_EXPR_92: x1 >= 0
 _L_EXPR_93: x2 >= 0
 _L_EXPR_94: x3 >= 0
 _L_EXPR_95: x4 >= 0
 _L_EXPR_96: x5 >= 0
 _L_EXPR_97: x6 >= 0
 _L_EXPR_98: x7 >= 0
 _L_EXPR_99: x8 >= 0
 _L_EXPR_100: x9 >= 0
 _L_EXPR_101: x10 >= 0
 _L_EXPR_102: x11 >= 0
 _L_EXPR_103: x12 >= 0
 _L_EXPR_104: x13 >= 0
 _L_EXPR_105: x14 >= 0
 _L_EXPR_106: x15 >= 0
 _L_EXPR_107: x16 >= 0
 _L_EXPR_108: x17 >= 0
 _L_EXPR_109: x18 >= 0
 _L_EXPR_110: x19 >= 0
 _L_EXPR_111: x20 >= 0
 _L_EXPR_112: x21 >= 0
 _L_EXPR_113: x22 >= 0
 _L_EXPR_114: x23 >= 0
 _L_EXPR_115: x24 >= 0
 _L_EXPR_116: x25 >= 0
 _L_EXPR_117: x26 >= 0
 _L_EXPR_118: x27 >= 0
 _L_EXPR_119: x28 >= 0
 _L_EXPR_120: x29 >= 0
 _L_EXPR_121: x30 >= 0
 _L_EXPR_122: x31 >= 0
 _L_EXPR_123: x32 >= 0
 _L_EXPR_124: x33 >= 0
 _L_EXPR_125: x34 >= 0
 _L_EXPR_126: x35 >= 0
 _L_EXPR_127: x36 >= 0
 _L_EXPR_128: x37 >= 0
 _L_EXPR_129: x38 >= 0
 _L_EXPR_130: x39 >= 0
 _L_EXPR_131: x40 >= 0
 _L_EXPR_132: x41 >= 0
 _L_EXPR_133: x42 >= 0
 _L_EXPR_134: x43 >= 0
 _L_EXPR_135: x44 >= 0
 _L_EXPR_136: x45 >= 0
 _L_EXPR_137: x46 >= 0
 _L_EXPR_138: x47 >= 0
 _L_EXPR_139: x48 >= 0
 _L_EXPR_140: x49 >= 0
 _L_EXPR_141: x50 >= 0
 _L_EXPR_142: x51 >= 0
 _L_EXPR_143: x52 >= 0
 _L_EXPR_144: x53 >= 0
 _L_EXPR_145: x54 >= 0
 _L_EXPR_146: x55 >= 0
 _L_EXPR_147: x56 >= 0
 _L_EXPR_148: x57 >= 0
 _L_EXPR_149: x58 >= 0
 _L_EXPR_150: x59 >= 0
 _L_EXPR_151: x60 >= 0
 _L_EXPR_152: x61 >= 0
 _L_EXPR_153: x62 >= 0
 _L_EXPR_154: x63 >= 0
 _L_EXPR_155: x64 >= 0
 _L_EXPR_156: x65 >= 0
 _L_EXPR_157: x66 >= 0
 _L_EXPR_158: x67 >= 0
 _L_EXPR_159: x68 >= 0
 _L_EXPR_160: x69 >= 0
 _L_EXPR_161: x70 >= 0
 _L_EXPR_162: x71 >= 0
 _L_EXPR_163: x72 >= 0
 _L_EXPR_164: x73 >= 0
 _L_EXPR_165: x74 >= 0
 _L_EXPR_166: x75 >= 0
 _L_EXPR_167: x76 >= 0
 _L_EXPR_168: x77 >= 0
 _L_EXPR_169: x78 >= 0
 _L_EXPR_170: x79 >= 0
 _L_EXPR_171: x80 >= 0
 _L_EXPR_172: x81 >= 0
 _L_EXPR_173: x82 >= 0
 _L_EXPR_174: x83 >= 0
 _L_EXPR_175: x84 >= 0
 _L_EXPR_176: x85 >= 0
 _L_EXPR_177: x86 >= 0
 _L_EXPR_178: x87 >= 0
 _L_EXPR_179: x88 >= 0
 _L_EXPR_180: x89 >= 0
 _L_EXPR_181: x0 <= 40
 _L_EXPR_182: x1 <= 30
 _L_EXPR_183: x2 <= 30
 _L_EXPR_184: x3 <= 100
 _L_EXPR_185: x4 <= 60
 _L_EXPR_186: x5 <= 45
 _L_EXPR_187: x6 <= 40
 _L_EXPR_188: x7 <= 30
 _L_EXPR_189: x8 <= 30
 _L_EXPR_190: x9 <= 100
 _L_EXPR_191: x10 <= 60
 _L_EXPR_192: x11 <= 45
 _L_EXPR_193: x12 <= 40
 _L_EXPR_194: x13 <= 30
 _L_EXPR_195: x14 <= 30
 _L_EXPR_196: x15 <= 100
 _L_EXPR_197: x16 <= 60
 _L_EXPR_198: x17 <= 45
 _L_EXPR_199: x18 <= 40
 _L_EXPR_200: x19 <= 30
 _L_EXPR_201: x20 <= 30
 _L_EXPR_202: x21 <= 100
 _L_EXPR_203: x22 <= 60
 _L_EXPR_204: x23 <= 45
 _L_EXPR_205: x24 <= 40
 _L_EXPR_206: x25 <= 30
 _L_EXPR_207: x26 <= 30
 _L_EXPR_208: x27 <= 100
 _L_EXPR_209: x28 <= 60
 _L_EXPR_210: x29 <= 45
 _L_EXPR_211: x30 <= 40
 _L_EXPR_212: x31 <= 30
 _L_EXPR_213: x32 <= 30
 _L_EXPR_214: x33 <= 100
 _L_EXPR_215: x34 <= 60
 _L_EXPR_216: x35 <= 45
 _L_EXPR_217: x36 <= 40
 _L_EXPR_218: x37 <= 30
 _L_EXPR_219: x38 <= 30
 _L_EXPR_220: x39 <= 100
 _L_EXPR_221: x40 <= 60
 _L_EXPR_222: x41 <= 45
 _L_EXPR_223: x42 <= 40
 _L_EXPR_224: x43 <= 30
 _L_EXPR_225: x44 <= 30
 _L_EXPR_226: x45 <= 100
 _L_EXPR_227: x46 <= 60
 _L_EXPR_228: x47 <= 45
 _L_EXPR_229: x48 <= 40
 _L_EXPR_230: x49 <= 30
 _L_EXPR_231: x50 <= 30
 _L_EXPR_232: x51 <= 100
 _L_EXPR_233: x52 <= 60
 _L_EXPR_234: x53 <= 45
 _L_EXPR_235: x54 <= 40
 _L_EXPR_236: x55 <= 30
 _L_EXPR_237: x56 <= 30
 _L_EXPR_238: x57 <= 100
 _L_EXPR_239: x58 <= 60
 _L_EXPR_240: x59 <= 45
 _L_EXPR_241: x60 <= 40
 _L_EXPR_242: x61 <= 30
 _L_EXPR_243: x62 <= 30
 _L_EXPR_244: x63 <= 100
 _L_EXPR_245: x64 <= 60
 _L_EXPR_246: x65 <= 45
 _L_EXPR_247: x66 <= 40
 _L_EXPR_248: x67 <= 30
 _L_EXPR_249: x68 <= 30
 _L_EXPR_250: x69 <= 100
 _L_EXPR_251: x70 <= 60
 _L_EXPR_252: x71 <= 45
 _L_EXPR_253: x72 <= 40
 _L_EXPR_254: x73 <= 30
 _L_EXPR_255: x74 <= 30
 _L_EXPR_256: x75 <= 100
 _L_EXPR_257: x76 <= 60
 _L_EXPR_258: x77 <= 45
 _L_EXPR_259: x78 <= 40
 _L_EXPR_260: x79 <= 30
 _L_EXPR_261: x80 <= 30
 _L_EXPR_262: x81 <= 100
 _L_EXPR_263: x82 <= 60
 _L_EXPR_264: x83 <= 45
 _L_EXPR_265: x84 <= 40
 _L_EXPR_266: x85 <= 30
 _L_EXPR_267: x86 <= 30
 _L_EXPR_268: x87 <= 100
 _L_EXPR_269: x88 <= 60
 _L_EXPR_270: x89 <= 45
 _L_EXPR_271: x0 + x29 + x58 <= 81
 _L_EXPR_272: x1 + x30 + x59 <= 75
 _L_EXPR_273: x2 + x31 + x60 <= 16
 _L_EXPR_274: x3 + x32 + x61 <= 78
 _L_EXPR_275: x4 + x33 + x62 <= 29
 _L_EXPR_276: x5 + x34 + x63 <= 50
 _L_EXPR_277: x6 + x35 + x64 <= 64
 _L_EXPR_278: x7 + x36 + x65 <= 56
 _L_EXPR_279: x8 + x37 + x66 <= 41
 _L_EXPR_280: x9 + x38 + x67 <= 64
 _L_EXPR_281: x10 + x39 + x68 + x88 <= 223
 _L_EXPR_282: x11 + x40 + x69 + x89 <= 93
 _L_EXPR_283: x12 + x41 + x70 <= 45
 _L_EXPR_284: x13 + x42 + x71 <= 34
 _L_EXPR_285: x14 + x43 + x72 <= 39
 _L_EXPR_286: x15 + x44 + x73 + x87 <= 191
 _L_EXPR_287: x16 + x45 + x74 <= 57
 _L_EXPR_288: x17 + x46 + x75 <= 44
 _L_EXPR_289: x18 + x47 + x76 <= 49
 _L_EXPR_290: x19 + x48 + x77 <= 14
 _L_EXPR_291: x20 + x49 + x78 <= 155
 _L_EXPR_292: x21 + x50 + x79 <= 88
 _L_EXPR_293: x22 + x51 + x80 <= 121
 _L_EXPR_294: x23 + x52 + x81 <= 35
 _L_EXPR_295: x24 + x53 + x82 <= 76
 _L_EXPR_296: x25 + x54 + x83 <= 9
 _L_EXPR_297: x26 + x55 + x84 <= 72
 _L_EXPR_298: x27 + x56 + x85 <= 41
 _L_EXPR_299: x28 + x57 + x86 <= 4

Bounds
 0 <= x90 <= 1
 0 <= x91 <= 1
 0 <= x92 <= 1
 0 <= x93 <= 1
 0 <= x94 <= 1
 0 <= x95 <= 1
 0 <= x96 <= 1
 0 <= x97 <= 1
 0 <= x98 <= 1
 0 <= x99 <= 1
 0 <= x100 <= 1
 0 <= x101 <= 1
 0 <= x102 <= 1
 0 <= x103 <= 1
 0 <= x104 <= 1
 0 <= x105 <= 1
 0 <= x106 <= 1
 0 <= x107 <= 1
 0 <= x108 <= 1
 0 <= x109 <= 1
 0 <= x110 <= 1
 0 <= x111 <= 1
 0 <= x112 <= 1
 0 <= x113 <= 1
 0 <= x114 <= 1
 0 <= x115 <= 1
 0 <= x116 <= 1
 0 <= x117 <= 1
 0 <= x118 <= 1
 0 <= x119 <= 1
 0 <= x120 <= 1
 0 <= x121 <= 1
 0 <= x122 <= 1
 0 <= x123 <= 1
 0 <= x124 <= 1
 0 <= x125 <= 1
 0 <= x126 <= 1
 0 <= x127 <= 1
 0 <= x128 <= 1
 0 <= x129 <= 1
 0 <= x130 <= 1
 0 <= x131 <= 1
 0 <= x132 <= 1
 0 <= x133 <= 1
 0 <= x134 <= 1
 0 <= x135 <= 1
 0 <= x136 <= 1
 0 <= x137 <= 1
 0 <= x138 <= 1
 0 <= x139 <= 1
 0 <= x140 <= 1
 0 <= x141 <= 1
 0 <= x142 <= 1
 0 <= x143 <= 1
 0 <= x144 <= 1
 0 <= x145 <= 1
 0 <= x146 <= 1
 0 <= x147 <= 1
 0 <= x148 <= 1
 0 <= x149 <= 1
 0 <= x150 <= 1
 0 <= x151 <= 1
 0 <= x152 <= 1
 0 <= x153 <= 1
 0 <= x154 <= 1
 0 <= x155 <= 1
 0 <= x156 <= 1
 0 <= x157 <= 1
 0 <= x158 <= 1
 0 <= x159 <= 1
 0 <= x160 <= 1
 0 <= x161 <= 1
 0 <= x162 <= 1
 0 <= x163 <= 1
 0 <= x164 <= 1
 0 <= x165 <= 1
 0 <= x166 <= 1
 0 <= x167 <= 1
 0 <= x168 <= 1
 0 <= x169 <= 1
 0 <= x170 <= 1
 0 <= x171 <= 1
 0 <= x172 <= 1
 0 <= x173 <= 1
 0 <= x174 <= 1
 0 <= x175 <= 1
 0 <= x176 <= 1
 0 <= x177 <= 1
 0 <= x178 <= 1
 0 <= x179 <= 1

Binaries
 x90 x91 x92 x93 x94 x95 x96 x97 x98 x99 x100 x101 x102 x103 x104 x105 x106 x107
 x108 x109 x110 x111 x112 x113 x114 x115 x116 x117 x118 x119 x120 x121 x122 x123
 x124 x125 x126 x127 x128 x129 x130 x131 x132 x133 x134 x135 x136 x137 x138 x139
 x140 x141 x142 x143 x144 x145 x146 x147 x148 x149 x150 x151 x152 x153 x154 x155
 x156 x157 x158 x159 x160 x161 x162 x163 x164 x165 x166 x167 x168 x169 x170 x171
 x172 x173 x174 x175 x176 x177 x178 x179

Generals
 x0 x1 x2 x3 x4 x5 x6 x7 x8 x9 x10 x11 x12 x13 x14 x15 x16 x17 x18 x19 x20 x21
 x22 x23 x24 x25 x26 x27 x28 x29 x30 x31 x32 x33 x34 x35 x36 x37 x38 x39 x40 x41
 x42 x43 x44 x45 x46 x47 x48 x49 x50 x51 x52 x53 x54 x55 x56 x57 x58 x59 x60 x61
 x62 x63 x64 x65 x66 x67 x68 x69 x70 x71 x72 x73 x74 x75 x76 x77 x78 x79 x80 x81
 x82 x83 x84 x85 x86 x87 x88 x89
End

In [79]:
print('constant:\t\t\t', mod.objective.constant)

print('linear dict:\t\t\t', mod.objective.linear.to_dict())
print('linear array:\t\t\t', mod.objective.linear.to_array())
print('linear array as sparse matrix:\n', mod.objective.linear.coefficients, '\n')

print('quadratic dict w/ index:\t', mod.objective.quadratic.to_dict())
print('quadratic dict w/ name:\t\t', mod.objective.quadratic.to_dict(use_name=True))
print('symmetric quadratic dict w/ name:\t', mod.objective.quadratic.to_dict(use_name=True, symmetric=True))
print('quadratic matrix:\n', mod.objective.quadratic.to_array(),'\n')
print('symmetric quadratic matrix:\n', mod.objective.quadratic.to_array(symmetric=True),'\n')
print('quadratic matrix as sparse matrix:\n', mod.objective.quadratic.coefficients)

constant:			 0.0
linear dict:			 {0: -656.0, 1: -736.0, 2: -624.0, 3: -784.0, 4: -864.0, 5: -752.0, 6: -656.0, 7: -608.0, 8: -688.0, 9: -528.0, 10: -672.0, 11: -752.0, 12: -784.0, 13: -672.0, 14: -752.0, 15: -592.0, 16: -800.0, 17: -880.0, 18: -720.0, 19: -672.0, 20: -624.0, 21: -656.0, 22: -544.0, 23: -688.0, 24: -720.0, 25: -800.0, 26: -688.0, 27: -720.0, 28: -608.0, 29: -816.0, 30: -848.0, 31: -736.0, 32: -688.0, 33: -592.0, 34: -672.0, 35: -560.0, 36: -656.0, 37: -736.0, 38: -816.0, 39: -656.0, 40: -736.0, 41: -624.0, 42: -784.0, 43: -864.0, 44: -752.0, 45: -656.0, 46: -608.0, 47: -688.0, 48: -528.0, 49: -672.0, 50: -752.0, 51: -784.0, 52: -672.0, 53: -752.0, 54: -592.0, 55: -800.0, 56: -880.0, 57: -720.0, 58: -672.0, 59: -624.0, 60: -656.0, 61: -544.0, 62: -688.0, 63: -720.0, 64: -800.0, 65: -688.0, 66: -720.0, 67: -608.0, 68: -816.0, 69: -848.0, 70: -736.0, 71: -688.0, 72: -592.0, 73: -672.0, 74: -560.0, 75: -656.0, 76: -736.0, 77: -816.0, 78: -656.0, 79: -736.0, 80: -624.0, 81: -784.0, 82: -864.0, 83: -752.0, 84: -656.0, 85: -608.0, 86: -688.0, 87: -528.0, 88: -672.0, 89: -752.0}
linear array:			 [-656. -736. -624. -784. -864. -752. -656. -608. -688. -528. -672. -752.
 -784. -672. -752. -592. -800. -880. -720. -672. -624. -656. -544. -688.
 -720. -800. -688. -720. -608. -816. -848. -736. -688. -592. -672. -560.
 -656. -736. -816. -656. -736. -624. -784. -864. -752. -656. -608. -688.
 -528. -672. -752. -784. -672. -752. -592. -800. -880. -720. -672. -624.
 -656. -544. -688. -720. -800. -688. -720. -608. -816. -848. -736. -688.
 -592. -672. -560. -656. -736. -816. -656. -736. -624. -784. -864. -752.
 -656. -608. -688. -528. -672. -752.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.]
linear array as sparse matrix:
   (0, 0)	-656.0
  (0, 1)	-736.0
  (0, 2)	-624.0
  (0, 3)	-784.0
  (0, 4)	-864.0
  (0, 5)	-752.0
  (0, 6)	-656.0
  (0, 7)	-608.0
  (0, 8)	-688.0
  (0, 9)	-528.0
  (0, 10)	-672.0
  (0, 11)	-752.0
  (0, 12)	-784.0
  (0, 13)	-672.0
  (0, 14)	-752.0
  (0, 15)	-592.0
  (0, 16)	-800.0
  (0, 17)	-880.0
  (0, 18)	-720.0
  (0, 19)	-672.0
  (0, 20)	-624.0
  (0, 21)	-656.0
  (0, 22)	-544.0
  (0, 23)	-688.0
  (0, 24)	-720.0
  :	:
  (0, 65)	-688.0
  (0, 66)	-720.0
  (0, 67)	-608.0
  (0, 68)	-816.0
  (0, 69)	-848.0
  (0, 70)	-736.0
  (0, 71)	-688.0
  (0, 72)	-592.0
  (0, 73)	-672.0
  (0, 74)	-560.0
  (0, 75)	-656.0
  (0, 76)	-736.0
  (0, 77)	-816.0
  (0, 78)	-656.0
  (0, 79)	-736.0
  (0, 80)	-624.0
  (0, 81)	-784.0
  (0, 82)	-864.0
  (0, 83)	-752.0
  (0, 84)	-656.0
  (0, 85)	-608.0
  (0, 86)	-688.0
  (0, 87)	-528.0
  (0, 88)	-672.0
  (0, 89)	-752.0

quadratic dict w/ index:	 {}
quadratic dict w/ name:		 {}
symmetric quadratic dict w/ name:	 {}
quadratic matrix:
 [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

symmetric quadratic matrix:
 [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

quadratic matrix as sparse matrix:

In [80]:
from qiskit.optimization.converters import QuadraticProgramToQubo
conv = QuadraticProgramToQubo()
mod_Qubo = conv.convert(mod)

In [81]:
print('constant:\t\t\t', mod_Qubo.objective.constant)
print('linear array as sparse matrix:\n', mod_Qubo.objective.linear.coefficients, '\n')
print('quadratic matrix as sparse matrix:\n', mod_Qubo.objective.quadratic.coefficients)

constant:			 3.0761439680000016e+30
linear array as sparse matrix:
   (0, 0)	-1.5255680000000002e+27
  (0, 1)	-3.0511360000000004e+27
  (0, 2)	-6.102272000000001e+27
  (0, 3)	-1.2204544000000001e+28
  (0, 4)	-2.4409088000000003e+28
  (0, 5)	-4.881817600000001e+28
  (0, 6)	-9.763635200000001e+28
  (0, 7)	-1.9527270400000002e+29
  (0, 8)	-3.9054540800000005e+29
  (0, 9)	-7.810908160000001e+29
  (0, 10)	-1.5621816320000002e+30
  (0, 11)	-3.1243632640000004e+30
  (0, 12)	-6.248726528000001e+30
  (0, 13)	-1.2497453056000001e+31
  (0, 14)	-2.4994906112000003e+31
  (0, 15)	-4.998981222400001e+31
  (0, 16)	-9.997962444800001e+31
  (0, 17)	-1.9995924889600002e+32
  (0, 18)	-3.9991849779200005e+32
  (0, 19)	-7.998369955840001e+32
  (0, 20)	-1.5996739911680002e+33
  (0, 21)	-3.1993479823360004e+33
  (0, 22)	-6.398695964672001e+33
  (0, 23)	-1.2797391929344002e+34
  (0, 24)	-2.5594783858688003e+34
  :	:
  (0, 13356)	-3.8328320000000005e+27
  (0, 13357)	-7.665664000000001e+27
  (0, 13358)	-1.5331328000000002e+28
  (0, 13359)	-3.0662656000000004e+28
  (0, 13360)	-1.2456704e+28
  (0, 13361)	-1.13472e+26
  (0, 13362)	-2.26944e+26
  (0, 13363)	-4.53888e+26
  (0, 13364)	-2.26944e+26
  (0, 13365)	-9.07776e+26
  (0, 13366)	-1.815552e+27
  (0, 13367)	-3.631104e+27
  (0, 13368)	-7.262208e+27
  (0, 13369)	-1.4524416e+28
  (0, 13370)	-2.9048832e+28
  (0, 13371)	-8.169984000000001e+27
  (0, 13372)	-5.169280000000001e+26
  (0, 13373)	-1.0338560000000001e+27
  (0, 13374)	-2.0677120000000003e+27
  (0, 13375)	-4.1354240000000006e+27
  (0, 13376)	-8.270848000000001e+27
  (0, 13377)	-5.169280000000001e+27
  (0, 13378)	-5.0432e+25
  (0, 13379)	-1.00864e+26
  (0, 13380)	-5.0432e+25

quadratic matrix as sparse matrix:
   (0, 0)	2.5216e+25
  (0, 1)	1.00864e+26
  (1, 1)	1.00864e+26
  (0, 2)	2.01728e+26
  (1, 2)	4.03456e+26
  (2, 2)	4.03456e+26
  (0, 3)	4.03456e+26
  (1, 3)	8.06912e+26
  (2, 3)	1.613824e+27
  (3, 3)	1.613824e+27
  (0, 4)	8.06912e+26
  (1, 4)	1.613824e+27
  (2, 4)	3.227648e+27
  (3, 4)	6.455296e+27
  (4, 4)	6.455296e+27
  (0, 5)	1.613824e+27
  (1, 5)	3.227648e+27
  (2, 5)	6.455296e+27
  (3, 5)	1.2910592e+28
  (4, 5)	2.5821184e+28
  (5, 5)	2.5821184e+28
  (0, 6)	3.227648e+27
  (1, 6)	6.455296e+27
  (2, 6)	1.2910592e+28
  (3, 6)	2.5821184e+28
  :	:
  (5807, 13380)	4.436045632959939e+38
  (5808, 13380)	8.872091265919878e+38
  (5809, 13380)	1.7744182531839756e+39
  (5810, 13380)	3.548836506367951e+39
  (5811, 13380)	7.097673012735902e+39
  (5812, 13380)	1.4195346025471804e+40
  (5813, 13380)	2.839069205094361e+40
  (5814, 13380)	5.678138410188722e+40
  (5815, 13380)	1.1356276820377444e+41
  (5816, 13380)	2.2712553640754887e+41
  (5817, 13380)	4.5425107281509774e+41
  (5818, 13380)	9.085021456301955e+41
  (5819, 13380)	1.817004291260391e+42
  (5820, 13380)	3.634008582520782e+42
  (5821, 13380)	7.268017165041564e+42
  (5822, 13380)	1.4536034330083128e+43
  (5823, 13380)	2.9072068660166256e+43
  (5824, 13380)	5.814413732033251e+43
  (5825, 13380)	1.1628827464066502e+44
  (5826, 13380)	2.3257654928133004e+44
  (5827, 13380)	4.651530985626601e+44
  (5828, 13380)	3.304938028746799e+44
  (13378, 13380)	1.2608e+25
  (13379, 13380)	2.5216e+25
  (13380, 13380)	6.304e+24

In [82]:
from qiskit.optimization.converters import InequalityToEquality
from qiskit.optimization.converters import IntegerToBinary
from qiskit.optimization.converters import LinearEqualityToPenalty

ineq2eq = InequalityToEquality()
qp_eq = ineq2eq.convert(mod)
#print(qp_eq.export_as_lp_string())

int2bin = IntegerToBinary()
qp_eq_bin = int2bin.convert(qp_eq)
#print(qp_eq_bin.export_as_lp_string())

lineq2penalty = LinearEqualityToPenalty()
mod_Qubo2 = lineq2penalty.convert(qp_eq_bin)
#print(qubo.export_as_lp_string())

len(mod_Qubo2._variables_index)

13381

In [83]:
qubo = QuadraticProgram()
qubo.binary_var('x')
qubo.binary_var('y')
qubo.binary_var('z')
qubo.minimize(linear=[1,-2,3], quadratic={('x', 'y'): 1, ('x', 'z'): -1, ('y', 'z'): 2})
print(qubo.export_as_lp_string())

\ This file has been generated by DOcplex
\ ENCODING=ISO-8859-1
\Problem name: CPLEX

Minimize
 obj: x - 2 y + 3 z + [ 2 x*y - 2 x*z + 4 y*z ]/2
Subject To

Bounds
 0 <= x <= 1
 0 <= y <= 1
 0 <= z <= 1

Binaries
 x y z
End

In [84]:
import dimod
import hybrid

import neal #sampler = neal.SimulatedAnnealingSampler()

from dwave.system import LeapHybridSampler
from dwave.system import DWaveSampler, EmbeddingComposite


# Extract qubo data

qubo=mod_Qubo2 

Q = qubo.objective.quadratic.to_dict(use_name=True)
g = qubo.objective.linear.to_dict(use_name=True)
c = qubo.objective.constant

# Build BQM
bqm = dimod.BQM(g, Q, c, dimod.BINARY)

# Solve
sampler = LeapHybridSampler()
bqm.result = sampler.sample(bqm)

# Extract solution
result_dict = bqm.result.first.sample

print(bqm.result)

  x0@0 x0@1 x0@2 x0@3 x0@4 x0@5 ... _L_EXPR_180@int_slack@66 energy num_oc.
0    0    0    1    0    0    0 ...                        1    nan       1
['BINARY', 1 rows, 1 samples, 13381 variables]